*~
moc_*

client/android/gen/
client/android/bin/
client/android/tests/bin/
client/android/tests/gen/

server/CMakeCache.txt
server/CMakeFiles/
server/_CPack_Packages/
server/install_manifest.txt
server/cmake_install.cmake
server/CPackConfig.cmake
server/CPackSourceConfig.cmake
server/Makefile
server/Reroot

*.cbp
*.sh
*.tar.Z
*.tar.gz
*.cxx
*.depends
*.layout
