<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.Cyberpad.Reroot"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".RerootActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:label="Preferences" android:name="Preferences"></activity>
        
        <activity android:name=".ConnectPickerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".QRConnectActivity"
              android:screenOrientation="landscape"
              android:clearTaskOnLaunch="true"
              android:stateNotNeeded="true"
              android:configChanges="orientation|keyboardHidden"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.Cyberpad.Reroot.AUTHENTICATED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="MainMenuActivity"></activity>
        
        <activity android:name="PadActivity"></activity>
        <activity android:name="IPConnectActivity"></activity>
        <activity android:name="dualstickActivity"></activity>
        <activity android:name="PresentationMode" android:screenOrientation="portrait"></activity>
        
        <service android:name="RerootService"
            android:process=".reroot_process"
            android:icon="@drawable/icon"
            android:label="@string/service_name">
        </service>


    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	
</manifest>